  body {
    font-family: Arial, sans-serif;
    background-color: #c9ccce;
    color: #333333;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
  }

    /* Margins for the the input field */
  form {
    display: flex;
    margin-bottom: 20px;
  }

  /* Styles the contents within the input field */
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 8px;
    color: rgb(78, 73, 73);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  /* Bar that separates tasks */
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #000000;
  }

  /* Checkbox completion indicator */
  li input[type="checkbox"] {
    margin-right: 10px;
  }

  /* List content */
  li span {
    flex: 1;
    color: rgb(0, 0, 0);
  }

  /* Delete button for List content */
  li button {
    background-color: #e29f9f;
    border-color: rgb(204, 60, 60);
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }